<nav id="sidebar" class="navbar bg-body-tertiary vh-100 
    flex-column justify-content-start">
    <div class="container-fluid justify-content-center p-1">
        <a class="navbar-brand h1 fw-bold text-success mb-3" routerLink="/dashboard">
            Library Management
        </a>
    </div>
    <ul class="nav flex-column w-100 px-3">
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.memberaccess2">
            <a class="nav-link" routerLink="/homepage">HomePage</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrLibrarian">
            <a class="nav-link" routerLink="/book">Book Management</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.memberaccess2">
            <a class="nav-link" routerLink="/borrow-history">Borrowed History</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.memberaccess2">
            <a class="nav-link" routerLink="/borrowing-books">List borrowing Book</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.memberaccess2">
            <a class="nav-link" routerLink="/overdue-user-list">User Overdue List</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrLibrarian">
            <a class="nav-link" routerLink="/borrow-request-list">Borrow Request</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrLibrarian">
            <a class="nav-link" routerLink="/extend-request-list">Extend Borrow Request</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrLibrarian">
            <a class="nav-link" routerLink="/overdue-list">Overdue List</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrLibrarian">
            <a class="nav-link" routerLink="/all-penalties">All Penalty List</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.memberaccess2">
            <a class="nav-link" routerLink="/user-penalties/:id">Your Penalty</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrLibrarian">
            <a class="nav-link" routerLink="/all-borrowed-book">All Borrowed Books</a>
        </li>
    </ul>
</nav>
<div id="main">
    <nav class="navbar bg-body-tertiary px-3">
        <div class="d-flex ms-auto align-items-center">
            <button class="btn btn-outline-primary position-relative me-3" style="border:none"
                (click)="toggleNotifications()">
                <i class="fa fa-bell"></i>
                <span class="badge position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{borrowedBooks.length}}
                </span>
            </button>

            <div class="dropdown">
                <button class="btn btn-outline-success d-flex align-items-center" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="me-2">{{ fullName }}</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item fw-bold text-danger" (click)="onLogout()">Logout</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="mt-5 p-5">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="notification-box bg-white shadow rounded p-3" *ngIf="showNotifications"
    style="position: fixed; top: 60px; right: 20px; width: 300px; z-index: 1050;">
    <h6 class="fw-bold">Upcoming Due Dates</h6>
    <div *ngIf="borrowedBooks.length === 0">
        <small>No upcoming returns.</small>
    </div>
    <ul class="list-unstyled mb-0" *ngIf="borrowedBooks.length > 0">
        <li *ngFor="let book of borrowedBooks" class="border-bottom py-2">
            <strong>{{ book.bookName }}</strong><br />
            <small class="text-muted">Due: {{ book.dueDate | date: 'dd/MM/yyyy' }}</small>
        </li>
    </ul>
</div>