<nav id="sidebar" class="navbar bg-body-tertiary vh-100 
    flex-column justify-content-start">
    <div class="container-fluid justify-content-center p-1">
        <a class="navbar-brand h1 fw-bold text-success mb-3" routerLink="/dashboard">
            Library Management
        </a>
    </div>
    <ul class="nav flex-column w-100 px-3">
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOnly">
            <a class="nav-link" routerLink="/admin-only">Admin Only</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrLibrarian">
            <a class="nav-link" routerLink="/admin-or-librarian">Admin Or Librarian</a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.memberaccess">
            <a class="nav-link" routerLink="/member-access">Member</a>
        </li>
    </ul>
</nav>
<div id="main">
    <nav class="navbar bg-body-tertiary">
        <div class="dropdown ms-auto me-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{fullName}}
            </button>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/profile">Profile</a>
                <hr>
                <button class="dropdown-item fw-bold text-danger" (click)="onLogout()">Logout</button>
            </div>
        </div>
    </nav>
    <div class="mt-5 p-5">
        <router-outlet></router-outlet>
    </div>
</div>