.footer {
    text-align: center;
    /* Căn giữa nội dung trong footer */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    /* Thêm khoảng cách phía trên footer */
}

.footer p {
    margin: 0;
    font-size: 15px;
}