/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

body {
    font-family: "Inter", sans-serif;
}

.error-feedback {
    font-size: 0.9rem;
    color: crimson;
    margin: 0.3rem !important;
    margin-top: 0.1rem !important;
}

#main {
    margin-left: 240px;
}

#sidebar {
    width: 240px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#sidebar li.nav-item a {
    color: #637381;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.7rem 1rem;
}

#sidebar li.nav-item:hover {
    background-color: #007fff17;
    border-radius: 0.5rem;
}

.custom-dropdown-menu {
    min-width: 70px;
    /* Giảm chiều rộng */
    padding: 0.3rem 0;
    /* Giảm khoảng cách trên dưới */
    font-size: 14px;
    /* Giảm kích thước chữ */
    text-align: center;
}

.custom-dropdown-menu .dropdown-item {
    padding: 0.25rem 0.75rem;
    /* Giảm padding trong từng item */
}

.custom-dropdown-menu hr {
    margin: 0.3rem 0;
    /* Giảm khoảng cách của đường kẻ */
}