<div class="mb-4">
    <h2 class="text-success">Reset Password</h2>
    <p>Enter a new password to reset your account.</p>
</div>

<form [formGroup]="form" (ngSubmit)="submitReset()">
    <div class="mb-3">
        <input class="form-control bg-body-secondary" formControlName="email" readonly>
    </div>

    <input type="hidden" formControlName="token">

    <div class="mb-3">
        <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
        <div class="error-feedback" *ngIf="hasDisplayableError('newPassword', 'required')">
            Please enter a new password.
        </div>
        <div class="error-feedback" *ngIf="hasDisplayableError('newPassword', 'minlength')">
            Password must be at least 6 characters.
        </div>
        <div class="error-feedback" *ngIf="hasDisplayableError('newPassword', 'pattern')">
            One or more special characters are required.
        </div>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">
            Save
        </button>
    </div>
</form>