.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    width: 200px;
    /* Đặt chiều cao cố định cho hình ảnh */
    object-fit: cover;
    /* Đảm bảo hình ảnh không bị méo */
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}