<div class="container">
    <h1 class="my-3">Library</h1>
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
    <app-author-filter [books]="books" (authorSelected)="onAuthorSelected($event)"></app-author-filter>
    <app-category-tabs (categorySelected)="onCategorySelected($event)"></app-category-tabs>
    <h2>Kết quả tìm kiếm</h2>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let book of currentBooks">
            <app-book-item [book]="book"></app-book-item>
        </div>
    </div>
    <app-pagination [totalPages]="totalPages" [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"></app-pagination>
</div>