<app-navbar-librarian></app-navbar-librarian>

<div class="book-list">
    <h2>List Books</h2>
    <button class="add-book-btn" (click)="addNewBook()">Add New Book</button>

    <div *ngIf="books">

        <table class="book-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Year Published</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>
                        <img *ngIf="book.image" [src]="apiUrl +book.image" alt="Book Image" class="book-image" />
                    </td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.authorName }}</td>
                    <td>{{ book.yearPublished }}</td>
                    <td>
                        <button type="button" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer-librarian></app-footer-librarian>